<div class="login-body">
    <div class="login-title">
        Olá! Faça seu login
    </div>
    <div class="login-content">

        <div class="input-top">
            <input placeholder="Usuário" class="input-login">
        </div>

        <div>
            <input placeholder="Senha" class="input-login">
        </div>

        <div class="login-link">
            <a href="">Esqueci a senha</a>

            <a href="/cadastro">Cadastro</a>
        </div>

        <div class="login-button">
            <button>Login</button>
        </div>
    </div>
</div>