<div *ngIf="registerSuccess" class="success-msg">
    <i class="fa fa-check"></i>
    Registrado com sucesso.
</div>

<div *ngIf="registerError" class="error-msg">
    <i class="fa fa-times-circle"></i>
    Algo deu errado.
</div>

<div class="register-body">
    <div class="register-title">
        Cadastre-se
    </div>
    <div class="register-content">

        <form [formGroup]="formRegister" (ngSubmit)="registerUser()">
            <div class="input-top input-register">
                <div>Nome:</div>
                <input type="text" id="username" formControlName="username" name="username" required>
            </div>

            <div class="input-register">
                <div>E-mail:</div>
                <input type="text" id="email" formControlName="email" name="email" required>
            </div>

            <div class="input-register">
                <div>Senha:</div>
                <input type="password" id="password" formControlName="password" name="password" required>
            </div>

            <div class="input-register">
                <div>Confirme sua senha:</div>
                <input type="password" id="passwordConfirm" formControlName="passwordConfirm" name="passwordConfirm"
                    required>
            </div>

            <div class="register-button">
                <button type="submit">Cadastrar</button>
            </div>
        </form>
    </div>
</div>

