<div class="register-body">
    <div class="register-title">
        Cadastre-se
    </div>
    <div class="register-content">

        <div class="input-top input-register">
            <div>Nome:</div>
            <input>
        </div>

        <div class="input-register">
            <div>E-mail:</div>
            <input>
        </div>

        <div class="input-register">
            <div>Senha:</div>
            <input>
        </div>

        <div class="input-register">
            <div>Confirme sua senha:</div>
            <input>
        </div>



        <div class="register-button">
            <button>Cadastrar</button>
        </div>
    </div>
</div>