<div class="contact-body">
    <div class="contact-photo">

    </div>

    <div class="contact-form">
        <div class="pair">
            <div class="block left-content">
                <div class="title">Nome:</div>
                <input class="contact-input">
            </div>
            <div class="block right-content">
                <div class="title">Telefone:</div>
                <input class="contact-input">
            </div>
        </div>

        <div class="pair top">
            <div class="block left-content">
                <div class="title">E-mail:</div>
                <input class="contact-input">
            </div>
            <div class="block right-content">
                <div class="title">Endereço:</div>
                <input class="contact-input">
            </div>
        </div>

        <div class="contact-notes">
            <div class="title">Notas:</div>
            <textarea></textarea>
        </div>

        <div class="footer-buttons">
            <div class="cancel">

            </div>

            <div class="save">

            </div>
        </div>
    </div>
</div>